.chatWrapper {
  margin-bottom: 4px;
}

.chat {
  display: flex;
  width: 339px;
  font-family: 'Verdana, Arial, sans-serif';
  font-size: 12px;
}

.chatTime {
  font-size: 11px;
  color: #1f1f23;
  padding-left: 5px;
  padding-right: 5px;
}

.chatBadge {
  height: 18px;
  width: 18px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: sub;
}

.chatMessage {
  margin-left: 4px;
}

.chatUserName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.chatToolTip {
  position: relative;
  display: inline-block;
  height: 15px;
  white-space: nowrap;
  overflow: visible;
}

.chatToolTip .chatToolTipText {
  visibility: hidden;
  bottom: 140%;
  left: -33%;
  margin-left: 10px;
  padding: 1px 3px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.chatToolTip .chatToolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.chatToolTip:hover .chatToolTipText {
  visibility: visible;
}

.chatHoverBackground:hover {
  background-color: #772ce8;
}

.chatToolTip:hover .chatToolTip {
  color: white;
}

.chatToolTip:hover {
  cursor: pointer;
}
